@model IEnumerable<ProjectToShow.Models.DealerViewModel>

@{
    ViewBag.Title = "Dealer List";
    var listDealer = ViewBag.list;
}

<h2 style="margin-bottom:50px">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerId)
        </th>
        <th></th>
    </tr>

    @if (listDealer.Count == 0)
    {
        <tr>
            <td>
                The
            </td>
            <td>
                Dealer
            </td>
            <td>
                list
            </td>
            <td>
                is
            </td>
            <td>
                empty.
            </td>
            
        </tr>

    }
    else
    {
        foreach (var item in listDealer)
        {
            <tr>
                <td>
                   @item.Name
                </td>
                <td>
                   @item.DealerNumber
                </td>
                <td>
                  @item.ManagerName
                </td>
                <td>
                   @item.ManagerId
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    }
</table>
